*{
    padding: 0;
    margin: 0;
    /* border: solid white; */
}
body{
    background-color: #121212;
    font-family: 'Open Sans', sans-serif;
}
main{
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0));
    color: #fff;
    /* height: 50px; */
    width: 94%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 3%;
}
#nav1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 130px;
    height: 45px;
}
#nav1 img:hover{
    cursor: pointer;
    height: 40px;
}
#nav1 img{
    height: 35px;
    transition: 0.5s;
    position: fixed;
}
#nav2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
#nav2 div{
    transition: 0.5s;
}
#nav2 div:hover{
    color: #0079ff;
    cursor: pointer;
}
#nav2 img{
    width: 19px;
}
.n2d{
    display: flex;
    align-items: center;
}
#nav3{
    display: flex;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}
#nav3 div{
    transition: 0.5s;
}
#nav3 div:hover{
    color: #0079ff;
    cursor: pointer;
}
#nav3 img{
    width: 12px;
}
.nav3div{
    display: flex; 
    align-items: center; 
    gap: 2px;
    border: 1px solid #665738;
    background-color: #2a2620;
    border-radius: 50px;
    padding: 3px 5px;
    color: #fff;
    font-size: 12px;
}
.idh{
    /* display: flex;
    flex-direction: column; */
    background-image: url("./Dharavi.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    /* border: #fff solid 5px; */
    /* align-items: center; */
    /* padding-top: 100px; */
}
.u-d{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
.l-r{
    width: 90%;
    /* height: 100%; */
    background-image: linear-gradient(to right,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    padding: 100px 3%;
}
.idh p{
    color: white;
    padding-left: 28px;
}
.butun{
    display: flex;
    align-items: center;
    transition: 3s;
}
.idh-button1{
    transition: 0.5s;
    margin-left: 28px;
    height: 45px;
    width: 110px;
    border-radius: 8px;
    background-color: #0079ff;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border: none;
}
.idh-button2{
    transition: 0.5s;
    margin-left: 28px;
    height: 45px;
    width: 110px;
    border-radius: 8px;
    background-color: #ffffff26;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border: none;
}
.idh-button3{
    transition: 0.5s;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 28px;
    height: 45px;
    width: 180px;
    border-radius: 8px;
    background-color: #0077ff00;
    border: none;
    color: rgba(255, 255, 255, 0.589);
    font-size: 18px;
    padding: 5px;
}
/* .idh-button3 i{
    font-size: 25px;
} */
.idh-button1:hover{
    height: 50px;
    width: 120px;
    font-size: 20px;
    cursor: pointer;
}
.idh-button2:hover{
    height: 50px;
    width: 120px;
    font-size: 20px;
    cursor: pointer;
}
.idh-button3:hover{
    font-size: 22px;
    cursor: pointer;
}
/* .idh-button3 i:hover{
    font-size: 28px;
} */


.sec2{
    width: 90.4%;
    /* height: 1000px; */
    background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0));
    padding: 0% 4.8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: white;
    background: none;
}
.sec2 img{
    width: 100%;
    border-radius: 3%;
}
.sec2-m-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sec2-i-div{
    width: 15%;
    transition: 1s;
}
.sec2-i-div:hover{
    width: 18%;
    /* height: 200px; */
    border-radius: 3%;
}
/* .sec2 img:hover{
    width: 100%;
    height: 350px;
    border-radius: 3%;
} */

footer{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    width: 100%;
    color: white;
    background-color: #121212;
    vertical-align: bottom;
}
.footer1{
    width: 90.4%;
    padding: 20px 4.8%;
}
.footer-div1{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.footer-idiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.last{
    width: 100%;
    height: 255px;
    background-image: linear-gradient(#121517, #0f293d);
}
.f2-div1{
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
    display: flex;
    gap: 10px;
}
.fimg{
    width: 30%;
}
.f2-div1 i{
    font-size: 23px;
    transition: 0.2s;
}
.f2-div1 i:hover{
    font-size: 30px;
}
.last p{
    font-size: 13px;
}
.two{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}

/* .sec2-m-div .card div{
    color: #fff;
    display: none;
    transition: 1s;
    width: 200px;
    height: 300px;
    /* display: flex; */
    flex-direction: column;
}
.sec2-m-div .card div img{
    width: 300px;
    height: 200px;
    border-radius: 5%;
}
.sec2-m-div:hover .card div{
    display: flex;
}
.sec2-m-div:hover .card div img{
    display: flex;
}
.sec2-m-div:hover .card img{
    display: none;
}
.cd{
    width: 15%;
    height: 320px;
    /* background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)); */
    /* padding: 0% 4.8%; */
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    /* border: solid 1px white; */
    transition: 0.5s;
}
.pic{
    width: 100%;
}

.hid{
    width: 100%;
    display: none;
    background-color: #1e2733;
    padding: 10px;
    border-radius: 4%;
}
.hid img{
    width: 100%;
    height: 50%;
    /* padding: 7px; */
}
.hid button{
    /* transition: 0.5s; */
    /* margin-left: 28px; */
    height: 35px;
    width: 70px;
    border-radius: 8px;
    background-color: #0079ff;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border: none;
}
.cd:hover .pic{
    display: none;
}
.cd:hover .hid{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.cd:hover{
    width: 25%;
}